<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NetCheck.Properties.Settings>
            <setting name="updTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="doSoundLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doPushLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doSoundShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doPushShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideWhenClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServersList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>google.com</string>
                        <string>tengrinews.kz</string>
                        <string>inform.kz</string>
                        <string>vk.com</string>
                        <string>kaspi.kz</string>
                        <string>8.8.8.8</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TurboCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </NetCheck.Properties.Settings>
    </userSettings>
</configuration>